extends base

block content 
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset Your Password
      form.form--reset
        .form__group
          label.form__label(for='email') Enter new password
          input#newpassword.form__input(type='password', placeholder='••••••••', required,minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='password') Confirm new password
          input#newpasswordconfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='text') Confirmation code
          input#token.form__input(type='password', placeholder='wfiu@54cxvb*5', required)
        .form__group
          button.btn.btn--green Reset