extends baseEmail 

block content
  p Hi #{firstName},
  p Forgot your password? Submit a PATCH request with your new password and passwordConfirm to: #{url}.
  p This is your confirmation code. Do not share this with others. This is valid only for 10 minutes.
  p
    strong(style='color: blue') #{url.split('/').slice(-1)[0]}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href='http://127.0.0.1:3000/reset-my-password', target='_blank') Reset your password
  p If you didn't forget your password, please ignore this email!
  p - Irash Perera, CEO
